.Wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Container {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
}

.Loading {
  min-height: 40vh;
  width: 50%;
  background-color: white;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/asistente-voz-bb06c.appspot.com/o/page%2Floading.gif?alt=media&token=8d8ad5c2-d0cc-49af-90b2-430274e600c9);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
}